<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
<!-- 	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"> -->
	<script type="text/javascript" th:src="@{/script/javascript.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Activity List</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<title>Login</title>
	<style>
		#username, #password, #registerHere{
			width: 60%;
 			margin:auto; 
		}
 		#usernameLabel, #passwordLabel { 
 			width:60%;
  			margin:auto auto 5px auto;
  			display:block;
		} 
		#login-submit {
 			width:60%;
  			margin:auto;
  			display:block;
		}
	</style>
</head>
<body>
	<div id="bg"></div>
	<nav class="navbar navbar-default" th:fragment="nav" id="nav">
	    <div class="navbar-header">
	      <a class="navbar-brand active" th:href="@{/login}">Login</a>
	    </div>
 	</nav>
  <div class="container">

     <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <h1>Login page</h1>
           <form th:action="@{/login}" method="post">
              <div th:if="${param.error}">
                 <div class="alert alert-danger">Invalid username or
                    password.</div>
              </div>
              <div th:if="${param.logout}">
                 <div class="alert alert-info">You have been logged out.</div>
              </div>
              <div class="form-group">
                 <label for="username" id="usernameLabel">Email:</label> 
                 <input type="text"
                    id="username" name="username" class="form-control"
                    autofocus="autofocus" placeholder="Username" style="text-align:left"/>
              </div>
              <div class="form-group">
                 <label for="password" id="passwordLabel">Password:</label> <input type="password"
                    id="password" name="password" class="form-control"
                    placeholder="Password" style="text-align:left"/>
              </div>
              <div class="form-group">
                 <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                       <input type="submit" name="login-submit" id="login-submit"
                          class="form-control btn btn-primary" value="Log In" />
                    </div>
                 </div>
              </div>
              <div class="form-group" id="registerHere">
                 <span>New user? <a href="/registration" th:href="@{/registration}">Register
                       here</a></span>
              </div>
           </form>
        </div>
     </div>
  </div>
  <script type="text/javascript"
     th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
  <script type="text/javascript"
     th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>
