<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="ISO-8859-1">
<!-- 	<link rel="stylesheet" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}"> -->
</head>
<body id="bootstrap-override">
 	<nav class="navbar navbar-default" id="nav" th:fragment="nav">
 		<div id="bg"></div>
	    <div class="navbar-header">
	      <a class="navbar-brand active" th:href="@{/index}">Homepage</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="active"><a href="">Home</a></li> -->
<!-- 	      <li><a th:href="@{/activity}">Activities</a></li> -->
<!-- 	      <li><a th:href="@{/addActivity}">Add Activity</a></li> -->
	      <li><a th:href="@{/workout}">Workouts</a></li>
	      <li><a th:href="@{/addWorkout}">Add Workout</a></li>
	      <li><a th:href="@{/location}">Locations</a></li>
	      <li><a th:href="@{/addLocation}">Add Location</a></li>
   	      <li><a th:href="@{/activityList(page=1)}">Activity Lists</a></li>
	      <li><a th:href="@{/addActivityList}">Add Activity List</a></li>
<!-- 	      <li class="form-group"> -->
<!-- 	        <input type="search" class="form-control" id="search" placeholder="Search BGG"> -->
<!-- 	      </li> -->
	      <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
	    </ul>
 	</nav>
</body>
</html>