@charset "ISO-8859-1";
#bootstrap-overrides table, td, th {
	border: 1px solid black;
	text-align:center;
	margin:auto;
}

input, h1 {
	text-align:center;
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

#bootstrap-overrides .inputSet {
	width:2rem;
}

#bootstrap-overrides td.list, th.list {
	padding: .5rem 2rem .5rem 2rem;
}

#bootstrap-overrides table {
	border-collapse: collapse;
}

.setCell {
	width: 4rem;
/* 	margin: .2rem 1rem .2rem 1rem; */
}

#bootstrap-overrides .updateTable td{
/* 	margin: .2rem 1rem .2rem 1rem; */
	padding: .2rem 1rem .2rem 1rem;
}