<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/script/javascript.js}"></script>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

<title>Add Activity</title>
</head>
<body>
	<div th:insert="fragments/header.html"></div>
	<h1 style="text-align:center">Please add the activity here:</h1>
	<div class="container">
		<form action="#" th:action="@{/activity(workoutID=${workout.workoutID})}" method="post">
		    <table style="margin:auto">
		    	<tr>
		    		<td><label>Workout ID</label></td>
		    		<td><p th:text="${workout.workoutID}"></p></td>
		    	</tr>
		    	<tr>
		    		<td><label>Workout Date</label></td>
		    		<td><p th:text="${workout.workoutDate}"></p></td>
		    	</tr>
		        <tr>
		            <td><label path="activityList">Workout Activity:</label></td>
	<!-- 	            <td><input type="text" name="activityListName" /></td> -->
		            <td>
		            	<select name="activityList">
		            		<option selected disabled>Select Activity</option>
		            		<option th:each="activityLst: ${activityLists}" th:text="${activityLst.activityName}" th:value="${activityLst.activityListID}"></option>
		            	</select>
		            </td>
		        </tr>
		        <tr>
		            <td><label path="comment">Enter Comment</label></td>
		            <td><textarea class="textarea" name="comment"></textarea></td>
		        </tr>
		        <tr>
		            <td colspan=2><input type="submit" value="Submit" /></td>
		        </tr>
		    </table>
		</form>
	</div>
</body>
</html>