<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>View Locations</title>
	<!-- <script th:src="@{/script/javascript.js}" defer> -->
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"> 
	<script type="text/javascript" th:src="@{/script/javascript.js}"></script>
	<script th:inline="javascript" defer>
		function confirmDelete(id) {
			if (confirm('Do you want to delete this?') == true) {
				const HTTP = new XMLHttpRequest();
				const url='/deleteLocation/' + id;
				HTTP.open('DELETE', url, true);
				HTTP.onload = function () {
					while (HTTP.readyState != 4) {
						
					}
					window.location.replace('/location');
				};
				HTTP.send();
			}	
		}
	</script> 
</head>
<body id="bootstrap-overrides">
	<div th:insert="fragments/header.html"></div>
	<div class="container">
		<h1>List of Locations</h1>
		<table style="border: 1px solid black">
	
			<tr>
				<th class="list">Location ID</th>
				<th class="list">Location Name</th>
				<th class="list">Location Address</th>
				<th class="list" colspan=2></th>
			</tr>
			<tr th:each="eachLocation: ${locations}">
				<td class="list" th:text="${eachLocation.locationID}"></td>
				<td class="list" th:text="${eachLocation.locationName}"></td>
				<td class="list" th:text="${eachLocation.locationAddress}"></td>
				<td class="list"><a th:href="@{/updateLocation(locationID=${eachLocation.locationID})}">Update</a></td>
				<td class="list"><a href="#" th:onclick="confirmDelete([[${eachLocation.locationID}]])">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>