<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	<title>View Activities</title> -->
	<!-- <script th:src="@{/script/javascript.js}" defer> -->
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"> 
	<script type="text/javascript" th:src="@{/script/javascript.js}"></script>
	<script type="text/javascript" th:src="@{/script/delete.js}"></script>
	<script th:inline="javascript" defer>
		function confirmDelete(id) {
			if (confirm('Do you want to delete this?') == true) {
				const HTTP = new XMLHttpRequest();
				const url='/deleteActivity/' + id;
				HTTP.open('DELETE', url, true);
				HTTP.onload = function () {
					while (HTTP.readyState != 4) {
						
					}
					window.location.replace('/activity');
				};
				HTTP.send();
			}	
		}
	</script> 
</head>
<body id="bootstrap-overrides">
<!-- 	<div th:insert="fragments/header.html"></div> -->
	<div id="bg"></div>
	<div class="container">
		<h1>List of Activities</h1>
		<table style="border: 1px solid black">
	
			<tr>
				<th class="list">Activity ID</th>
				<th class="list">Activity List</th>
				<th class="list">Sets</th>
				<th class="list">Comment</th>
			</tr>
			<tr th:each="eachActivity: ${listOfActivities}">
				<td class="list" th:text="${eachActivity.activityID}"></td>
				<td class="list" th:if="${eachActivity.activityList} != null" th:text="${eachActivity.activityList.activityName}"></td>
				<td class="list" th:unless="${eachActivity.activityList} != null">N/A</td>
				<td class="list" th:text="${eachActivity.sets.size()}"></td>
				<td class="list" th:text="${eachActivity.comment}"></td>
				<td class="list"><a th:href="@{/updateActivity(activityID=${eachActivity.activityID})}">Update</a></td>
				<td class="list"><a href="#" th:onclick="confirmDelete([[${eachActivity.activityID}]])">Delete</a></td>
			</tr>
		</table>
	</div>
</body>
</html>