<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	 <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"> 
	<script type="text/javascript" th:src="@{/script/javascript.js}"></script>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Profile</title>  
</head>
<body id="bootstrap-overrides">
	<div th:insert="fragments/header.html"></div>
	<div class="container">
		<h1 style="text-align:center">User Profile</h1>
		<table style="margin:auto">
			<tr>
				<td>Email</td>
				<td th:text="${user.email}"></td>
<!-- 				<th colspan=2> -->
			</tr>
			<tr>
				<td>Password</td>
				<td>***********</td>
			</tr>
			<tr>
				<td>First Name</td>
				<td th:text="${user.firstName}"></td>
<!-- 				<td ><a th:href="@{/updateActivity(activityID=${activity.activityID})}">Update</a></td> -->
<!-- 				<td ><a th:href="@{/deleteActivity(activityID=${activity.activityID})}" class="confirm">Delete</a></td> -->
			</tr>
			<tr>
				<td>Last Name</td>
				<td th:text="${user.lastName}"></td>
			</tr>
			<tr>
				<td>List of Gyms</td>
				<td>
					<p th:each="location: ${user.locations}" th:text="${location}"></p>
				</td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td th:if="${user.phoneNumber} != 0" th:text="${user.phoneNumber}"></td>
				<td th:unless="${user.phoneNumber} != 0">N/A</td>
			</tr>
		</table>
	</div>
</body>
</html>